* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.no-scroll {
  overflow-y: hidden !important;
}

body {
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
  background-image: url("../img/index-bg.gif");
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

@media print {
  body {
    display: none;
  }
}

nav {
  height: 100vh;
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, width 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, width 150ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  overflow: hidden;
  z-index: 1;
}

nav .social-media {
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 10px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

nav .social-media a {
  text-decoration: none;
}

nav .social-media div {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

nav .social-media div svg,
nav .social-media div img {
  margin: 0 auto;
}

nav .social-media .ig {
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

nav .social-media .ds {
  background-color: #7289DA;
}

nav .social-media .em {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6a85b6), to(#bac8e0));
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

nav .social-media .yt {
  line-height: 50px;
  text-align: center;
  background-color: #FF0000;
}

nav .nav-list {
  list-style: none;
  padding-left: 10px;
  white-space: nowrap;
  padding-top: 50px;
  padding-left: 34px;
}

nav .nav-list li {
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  margin-bottom: 20px;
}

nav .nav-list li a {
  line-height: 30px;
  vertical-align: middle;
  margin-left: 0.5em;
  color: white;
  text-decoration: none;
}

nav .nav-list li a span {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  margin-right: 4px;
}

main {
  min-height: 100vh;
  background-image: url("../img/bg.gif");
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center;
  padding: 50px 0;
}

@media screen and (min-width: 900px) {
  main {
    padding: 50px 10px;
    background-image: url("../img/mobile-bg.gif");
  }
}

@media screen and (min-width: 1200px) {
  main {
    padding: 50px 250px;
    background-image: url("../img/bg.gif");
  }
}

main.faq .title {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45vh;
}

main.faq .title .hero {
  font-weight: lighter;
  font-size: 96px;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 1200px) {
  main.faq .title .hero {
    font-size: 48px;
    text-align: center;
  }
}

main.faq .title .subhero {
  font-size: 34px;
  letter-spacing: 0.25px;
}

@media screen and (max-width: 1200px) {
  main.faq .title .subhero {
    text-align: center;
    font-size: 24px;
  }
}

main.faq .content {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1100px) {
  main.faq .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main.faq .content .qa {
  border: 1px solid #00000000;
  border-radius: 0.5em;
  float: left;
  width: 100%;
  overflow: hidden;
}

main.faq .content .qa .q {
  width: 100%;
  height: 75px;
  text-align: center;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

main.faq .content .qa .a {
  padding: 15px;
  height: 200px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #222;
}

main.faq .content .qa .a a {
  color: white;
}

main.faq .content .qa .a .title {
  text-align: center;
  width: 100%;
}

main.downloads .title {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45vh;
}

main.downloads .title .hero {
  font-weight: lighter;
  font-size: 96px;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 1200px) {
  main.downloads .title .hero {
    font-size: 48px;
    text-align: center;
  }
}

main.downloads .title .subhero {
  font-size: 34px;
  letter-spacing: 0.25px;
}

@media screen and (max-width: 1200px) {
  main.downloads .title .subhero {
    text-align: center;
    font-size: 24px;
  }
}

main.downloads .content {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
  main.downloads .content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  main.downloads .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main.downloads .content .gallery {
  border: 1px solid #00000000;
  border-radius: 0.5em;
  float: left;
  width: 100%;
  overflow: hidden;
}

main.downloads .content .gallery .banner {
  width: 100%;
  height: 300px;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

main.downloads .content .gallery .desc {
  padding: 15px;
  height: 75px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #222;
}

main.downloads .content .gallery .desc a {
  color: white;
}

main.downloads .content .gallery .desc .title {
  text-align: center;
  width: 100%;
}

main.index {
  overflow: hidden;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.index .yt-button {
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: red;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

main.index .yt-button span {
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}

main.index .text {
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

main.index .text h1 {
  font-size: 15vh;
  -webkit-filter: drop-shadow(0 0 2.5em black);
          filter: drop-shadow(0 0 2.5em black);
}

@media screen and (max-width: 1200px) {
  main.index .text h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 1200px) {
  main.index .text img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
  main.index .text img {
    width: 75%;
  }
}

main.index .bio {
  min-height: 40vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  main.index .bio {
    padding: 50px 5px;
  }
}

footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
  background-color: #222;
}

.material-icons {
  color: white !important;
  line-height: 24px !important;
}

.nav-button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

footer {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
}

footer a {
  color: white;
}

.shadow {
  -webkit-box-shadow: 5px 0px 10px 10px #222;
          box-shadow: 5px 0px 10px 10px #222;
}

@media (pointer: coarse) {
  .shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#nest1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  -webkit-animation: spin7 1.5s ease infinite;
  animation: spin7 1.5s ease infinite;
}

#nest1:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  -webkit-animation: spin7 3s linear infinite;
  animation: spin7 3s linear infinite;
}

#nest1:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  -webkit-animation: spin7 1.5s ease infinite;
  animation: spin7 1.5s ease infinite;
}

@-webkit-keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin7 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

main.privacy {
  font-family: "Roboto", sans-serif;
}

main.privacy a {
  color: #ddd;
  word-wrap: none;
}

main.privacy a:visited {
  color: #ccc;
}

main.privacy h1 {
  font-size: 48px;
  letter-spacing: 0;
  font-weight: normal;
}

main.privacy h2 {
  font-size: 34px;
  letter-spacing: 0.25px;
  font-weight: normal;
  margin-top: 15px;
}

main.privacy h3 {
  font-size: 24px;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 40px;
}

main.privacy p {
  font-size: 16px;
  letter-spacing: 0.25px;
  color: #ddd;
  font-weight: normal;
  margin-top: 5px;
  margin-left: 35px;
}
/*# sourceMappingURL=style.css.map */