@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$navColour : #222;

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1;
    background-image: url('../img/index-bg.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;

    @media print {
        display: none;
    }
}

nav {
    height: 100vh;
    position: fixed;
    background-color: $navColour;
    top: 0;
    left: 0;
    box-shadow: none;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, .2, 1) 250ms, width 150ms cubic-bezier(.4, 0, .2, 1);
    overflow: hidden;
    z-index: 1;

    .nav-list {
        list-style: none;
        padding-left: 10px;
        white-space: nowrap;
        padding-top: 50px;
        padding-left: 34px;

        li {
            font-size: 24px;
            align-items: center;
            line-height: 30px;
            margin-bottom: 20px;

            a {
                span {
                    transform: translateY(4px);
                    margin-right: 4px;
                }

                line-height: 30px;
                vertical-align: middle;
                margin-left: 0.5em;
                color: white;
                text-decoration: none;
            }
        }
    }
}

main {
    min-height: 100vh;
    background-image: url("../img/index-bg.gif");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
    padding: 50px 0;

    @media screen and (min-width: 900px) {
        padding: 50px 10px;
    }

    @media screen and (min-width: 1200px) {
        padding: 50px 300px;
    }

    &.faq {
        .title {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;

            .hero {
                font-weight: lighter;
                font-size: 96px;
                letter-spacing: -1.5px;
            }

            .subhero {
                font-size: 34px;
                letter-spacing: 0.25px;
            }
        }

        .content {
            display: grid;
            grid-gap: 10px;

            // Desktop
            grid-template-columns: 1fr 1fr;

            // tablets & phones, wider elements in this
            @media screen and (max-width: 1100px) {
                grid-template-columns: 1fr;
            }

            .qa {
                border: 1px solid #00000000;
                border-radius: 0.5em;
                float: left;
                width: 100%;
                // height: 350px;
                overflow: hidden;

                .q {
                    width: 100%;
                    height: 75px;
                    text-align: center;
                    background-color: #111;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-weight: bold;
                }

                .a {
                    padding: 15px;
                    height: 200px;
                    width: 100%;
                    font-size: 14px;
                    letter-spacing: 0.25px;
                    font-weight: normal;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    background-color: #222;

                    a {
                        color: white;
                    }

                    .title {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.downloads {
        .title {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;

            .hero {
                font-weight: lighter;
                font-size: 96px;
                letter-spacing: -1.5px;
            }

            .subhero {
                font-size: 34px;
                letter-spacing: 0.25px;
            }
        }

        .content {
            display: grid;
            grid-gap: 10px;

            // Desktop
            grid-template-columns: 1fr 1fr 1fr;

            // tablets
            @media screen and (max-width: 1100px) {
                grid-template-columns: 1fr 1fr;
            }

            // Phones
            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
            }

            .gallery {
                border: 1px solid #00000000;
                border-radius: 0.5em;
                float: left;
                width: 100%;
                // height: 350px;
                overflow: hidden;

                .banner {
                    width: 100%;
                    height: 300px;
                    background-color: black;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .desc {
                    padding: 15px;
                    height: 75px;
                    width: 100%;
                    font-size: 14px;
                    letter-spacing: 0.25px;
                    font-weight: normal;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    background-color: #222;

                    a {
                        color: white;
                    }

                    .title {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.index {
        overflow: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .yt-button {
            position: fixed;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            background-color: red;
            top: 10px;
            right: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;

            span {
                line-height: 50px;
                font-size: 30px;
                text-align: center;
            }
        }

        .text {
            text-align: center;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;

            h1 {
                font-size: 15vh;
                filter: drop-shadow(0 0 2.5em black);
            }
        }

        .bio {
            height: 40vh;
            padding: 50px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            @media screen and (max-width: 1100px) {
                padding: 50px 5px;
            }
        }
    }
}

footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    background-color: #222;
}

.material-icons {
    color: white !important;
    line-height: 24px !important;
}

.nav-button {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    user-select: none;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

footer {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;

    a {
        color: white;
    }
}

.shadow {
    box-shadow: 5px 0px 10px 10px $navColour;

    @media (pointer:coarse) {
        box-shadow: none;
    }
}

#nest1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    -webkit-animation: spin7 1.5s ease infinite;
    animation: spin7 1.5s ease infinite;
}

#nest1:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    -webkit-animation: spin7 3s linear infinite;
    animation: spin7 3s linear infinite;
}

#nest1:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    -webkit-animation: spin7 1.5s ease infinite;
    animation: spin7 1.5s ease infinite;
}

@-webkit-keyframes spin7 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin7 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}