@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$navColour : #222;

.no-scroll {
    overflow-y: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1;
    background-image: url('../img/index-bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;

    @media screen and (min-width: 900px) {
        background-image: url("../img/mobile-bg.gif");
    }

    @media screen and (min-width: 1200px) {
        background-image: url('../img/bg.gif');
    }

    // NO PRINT FOR YOU
    @media print {
        display: none;
    }
}

nav {
    height: 100vh;
    position: fixed;
    background-color: $navColour;
    top: 0;
    left: 0;
    box-shadow: none;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, .2, 1) 250ms, width 150ms cubic-bezier(.4, 0, .2, 1);
    overflow: hidden;
    z-index: 1;

    .social-media {
        position: absolute;
        flex-direction: row;
        left: 10px;
        bottom: 20px;
        display: flex;
        justify-content: left;

        @media screen and (max-width:900px) {
            justify-content: center;
        }

        a {
            text-decoration: none;
        }

        div {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            margin: 0 10px;

            svg,
            img {
                margin: 0 auto;
            }
        }

        .ig {
            background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        }

        .ds {
            background-color: #7289DA;
        }

        .em {
            background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
        }

        .yt {
            line-height: 50px;
            text-align: center;
            background-color: #FF0000;
            ;
        }
    }

    .nav-list {
        list-style: none;
        padding-left: 10px;
        white-space: nowrap;
        padding-top: 50px;
        padding-left: 34px;

        li {
            font-size: 24px;
            align-items: center;
            line-height: 30px;
            margin-bottom: 20px;

            a {
                span {
                    transform: translateY(4px);
                    margin-right: 4px;
                }

                line-height: 30px;
                vertical-align: middle;
                margin-left: 0.5em;
                color: white;
                text-decoration: none;
            }
        }
    }
}

main {
    min-height: 100vh;
    padding: 50px 0;
    overflow-y: scroll;
    background: transparent;

    @media screen and (min-width: 900px) {
        padding: 50px 10px;
    }

    @media screen and (min-width: 1200px) {
        padding: 50px 250px;
    }

    &.contact {
        .title {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;

            .hero {
                font-weight: lighter;
                font-size: 96px;
                letter-spacing: -1.5px;

                @media screen and (max-width: 1200px) {
                    font-size: 48px;
                    text-align: center;
                }
            }

            .subhero {
                font-size: 34px;
                letter-spacing: 0.25px;

                @media screen and (max-width: 1200px) {
                    text-align: center;
                    font-size: 24px;
                }
            }
        }

        .content {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            height: 100vh;

            @media screen and (min-width:900px) and (orientation: landscape) {
                height: 40vh;
            }

            $active-color:#fff;
            $inactive-color:#333;

            .textarea {
                grid-row: 1;
                grid-column: 1 /span 2;

                @media screen and (min-width:1900px) and (orientation: landscape) {
                    grid-row: 1 /span 2;
                    grid-column: 1;
                }

                textarea {
                    width: 100%;
                    height: 100%;
                    color: white;
                    background-color: $navColour;
                    border-right: #333;
                    border-bottom: #333;
                    padding: 10px;
                    border: none;
                    font-family: 'Roboto', sans-serif;
                    resize: none;
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: 0.5;
                }
            }

            .right {
                grid-row: 1 /span 2;
                grid-column: 2;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                padding: 10px;

                .email-field,
                .name-field {
                    width: 100%;
                    height: 100%;

                    .form-container {
                        font-size: 16px;
                        margin: 0 auto;
                        width: 75%;
                        position: relative;
                        height: 50px;
                        overflow: hidden;
                        background-color: transparent;
                    }

                    .form-container input {
                        width: 100%;
                        height: 100%;
                        color: white;
                        padding-top: 20px;
                        border: none;
                        background-color: transparent;
                    }

                    .form-container input:focus+label span,
                    .form-container input:valid+label span {
                        -webkit-transform: translateY(-150%);
                        transform: translateY(-150%);
                        font-size: 12px;
                        color: $active-color;
                    }

                    .form-container input:focus+label::after,
                    .form-container input:valid+label::after {
                        -webkit-transform: translateX(0%);
                        transform: translateX(0%);
                    }

                    .form-container label {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        border-bottom: 1px solid $inactive-color;
                        outline: none;
                    }

                    .form-container label::after {
                        content: "";
                        position: absolute;
                        left: 0px;
                        bottom: -1px;
                        height: 100%;
                        width: 100%;
                        border-bottom: 3px solid $active-color;
                        -webkit-transform: translateX(-100%);
                        transform: translateX(-100%);
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

                    .form-container label span {
                        position: absolute;
                        bottom: 5px;
                        left: 0px;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                }

                button {
                    width: 50%;
                    height: 50px;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    background-color: $navColour;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    &.faq {
        .title {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;

            .hero {
                font-weight: lighter;
                font-size: 96px;
                letter-spacing: -1.5px;

                @media screen and (max-width: 1200px) {
                    font-size: 48px;
                    text-align: center;
                }
            }

            .subhero {
                font-size: 34px;
                letter-spacing: 0.25px;

                @media screen and (max-width: 1200px) {
                    text-align: center;
                    font-size: 24px;
                }
            }
        }

        .content {
            display: grid;
            grid-gap: 10px;

            // Desktop
            grid-template-columns: 1fr 1fr;

            // tablets & phones, wider elements in this
            @media screen and (max-width: 1100px) {
                grid-template-columns: 1fr;
            }

            .qa {
                border: 1px solid #00000000;
                border-radius: 0.5em;
                float: left;
                width: 100%;
                // height: 350px;
                overflow: hidden;

                .q {
                    width: 100%;
                    height: 75px;
                    text-align: center;
                    background-color: #111;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-weight: bold;
                }

                .a {
                    padding: 15px;
                    height: 200px;
                    width: 100%;
                    font-size: 14px;
                    letter-spacing: 0.25px;
                    font-weight: normal;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    background-color: #222;

                    a {
                        color: white;
                    }

                    .title {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.downloads {
        .title {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 45vh;

            .hero {
                font-weight: lighter;
                font-size: 96px;
                letter-spacing: -1.5px;

                @media screen and (max-width: 1200px) {
                    font-size: 48px;
                    text-align: center;
                }
            }

            .subhero {
                font-size: 34px;
                letter-spacing: 0.25px;

                @media screen and (max-width: 1200px) {
                    text-align: center;
                    font-size: 24px;
                }
            }
        }

        .content {
            display: grid;
            grid-gap: 10px;

            // Desktop
            grid-template-columns: 1fr 1fr 1fr;

            // tablets
            @media screen and (max-width: 1300px) {
                grid-template-columns: 1fr 1fr;
            }

            // Phones
            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
            }

            .gallery {
                border: 1px solid #00000000;
                border-radius: 0.5em;
                float: left;
                width: 100%;
                // height: 350px;
                overflow: hidden;

                .banner {
                    width: 100%;
                    height: 300px;
                    background-color: black;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .desc {
                    padding: 15px;
                    height: 75px;
                    width: 100%;
                    font-size: 14px;
                    letter-spacing: 0.25px;
                    font-weight: normal;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    background-color: #222;

                    a {
                        color: white;
                    }

                    .title {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.index {
        overflow: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .yt-button {
            position: fixed;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            background-color: red;
            top: 10px;
            right: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;

            span {
                line-height: 50px;
                font-size: 30px;
                text-align: center;
            }
        }

        .text {
            text-align: left;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;

            h1 {
                font-size: 15vh;
                filter: drop-shadow(0 0 2.5em black);

                @media screen and (max-width: 1200px) {
                    font-size: 48px
                }
            }

            img {
                @media screen and (max-width: 1200px) {
                    width: 90%;
                    height: auto;
                    margin: 0 auto;

                    @media only screen and (orientation: landscape) {
                        width: 75%;
                    }
                }

            }
        }

        .bio {
            min-height: 40vh;
            height: fit-content;
            padding: 50px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            @media screen and (max-width: 1100px) {
                padding: 50px 5px;
            }
        }
    }
}

footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    background-color: #222;
}

.material-icons {
    color: white !important;
    line-height: 24px !important;
}

.nav-button {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    user-select: none;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

footer {
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;

    a {
        color: white;
    }
}

.shadow {
    box-shadow: 5px 0px 10px 10px $navColour;

    @media (pointer:coarse) {
        box-shadow: none;
    }
}

#nest1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    -webkit-animation: spin7 1.5s ease infinite;
    animation: spin7 1.5s ease infinite;
}

#nest1:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    -webkit-animation: spin7 3s linear infinite;
    animation: spin7 3s linear infinite;
}

#nest1:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
    -webkit-animation: spin7 1.5s ease infinite;
    animation: spin7 1.5s ease infinite;
}

@-webkit-keyframes spin7 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin7 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

main.privacy {
    font-family: "Roboto", sans-serif;

    a {
        color: #ddd;
        word-wrap: none;

        &:visited {
            color: #ccc;
        }
    }

    h1 {
        font-size: 48px;
        letter-spacing: 0;
        font-weight: normal;
    }

    h2 {
        font-size: 34px;
        letter-spacing: 0.25px;
        font-weight: normal;
        margin-top: 15px;
    }

    h3 {
        font-size: 24px;
        letter-spacing: 0;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 40px;
    }

    p {
        font-size: 16px;
        letter-spacing: 0.25px;
        color: #ddd;
        font-weight: normal;
        margin-top: 5px;
        margin-left: 35px;
    }
}